*.gitingore
*.gitconfig
*.pyc
ForecastProducts/images/
ForecastProducts/originals/
GENSvis/
OGIMETbufr/errorlog_unterlaa.txt
OGIMETbufr/listing.html
OGIMETbufr/listing_unterlaa.html
OGIMETbufr/ogimet_bufr_tmp/
.lesshst
.local/
.mysql_history
.python_history
.selected_editor
.ssh/
.vim/
.viminfo
.vimrc
.wget-hsts
.bash_history
.bash_profile
.bashrc
.cache/
.config/
venv/
venv3/
cronlog/
dwd/
eccodes/
tables/
